.section-greeting {
    width: calc(100% - 160px);
    height: calc(100% - 160px);
    padding: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.section-greeting h1 {
    font-size: 60px;
}

.section-greeting h2 {
    font-size: 50px;
}

.waving-hand {
    width: 300px;
    height: 300px;
}