.section-hobbies {
    width: calc(100% - 160px);
    height: calc(100% - 160px);
    padding: 80px;
    background-color: #a644de;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hobbies > div {
    max-width: 60%;
}
